@import "_variables.scss";

body {
    font-size: 18px;
    font-family: $font-family;
    font-weight: $font-weight;
    background: #eee;
}

/* Sticky footer */
body,
#__next {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: $font-size-xxl;
    line-height: $font-lineheight-xxl;
}

h2 {
    font-size: $font-size-xl;
    line-height: $font-lineheight-xl;
}

h3 {
    font-size: $font-size-l;
    line-height: $font-lineheight-l;
}

h4 {
    font-size: $font-size-m;
    line-height: $font-lineheight-m;
}

a {
    color: $color-link-default;
}

main {
    display: flex;
    flex: 2;
}

.container {
    padding: $spacing-m;
    background: $color-background;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: $breakpoint-mobile) {
}

@media (min-width: $breakpoint-tablet) {
    .container {
        width: $content-max-width;
    }
}

@media (min-width: $breakpoint-desktop) {
}
