@import "_variables.scss";

body {
    font-size: 18px;
    background: #eee;
}

h1 {
    font-size: $font-size-xxl;
    line-height: $font-lineheight-xxl;
}

h2 {
    font-size: $font-size-xl;
    line-height: $font-lineheight-xl;
}

h3 {
    font-size: $font-size-l;
    line-height: $font-lineheight-l;
}

h4 {
    font-size: $font-size-m;
    line-height: $font-lineheight-m;
}

a {
    color: $color-link-default;
}

.container {
    padding: $spacing-m;
    background: $color-background;
}

@media (min-width: $breakpoint-mobile) {
}

@media (min-width: $breakpoint-tablet) {
    .container {
        margin: 0 auto;
        max-width: $content-max-width;
    }
}

@media (min-width: $breakpoint-desktop) {
}
